<ng-container *ngIf="this.auth.isActive">
  <div class="menu-item px-3">
    <div class="menu-content text-center px-3">
      <div class="symbol symbol-50px me-5">
        <img alt="avatar" [src]=" imageProfile!=Avatar+'null'
          ?imageProfile:'./assets/media/avatars/avatar.svg'" />
      </div>
      <!-- class="rounded-circle" -->
      <div class="d-flex flex-column" style="margin-top: 15px;">
        <div class="fw-bolder fs-5">
          {{ firstname }}
          <!-- <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">Pro</span> -->
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          <span class="fw-bolder fs-5">{{ Email() }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5">
    <a class="menu-link px-5" (click)="profile()">
      {{"USER_MENU.PERSONAL_ACCOUNT" | translate}}
    </a>
  </div>

  <!-- <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer" (click)=" openModalChangePass.emit()">
      <span class="menu-text">{{"USER_MENU.CHANGE_PASSWORD" | translate}}</span>
    </a>
  </div> -->

  <!-- <div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom">
    <a class="menu-link px-5 cursor-pointer">
      <span class="menu-title">الاشتراكات</span>
      <span class="menu-arrow"></span>
    </a>

    <div class="menu-sub menu-sub-dropdown w-175px py-4">
      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer"> Referrals </a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer"> الفواتير </a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link px-5 cursor-pointer"> الدفعات </a>
      </div>

      <div class="menu-item px-3">
        <a class="menu-link d-flex flex-stack px-5 cursor-pointer">
          Statements
          <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="View your statements"></i>
        </a>
      </div>

      <div class="separator my-2"></div>

      <div class="menu-item px-3">
        <div class="menu-content px-3">
          <label class="form-check form-switch form-check-custom form-check-solid">
            <input class="form-check-input w-30px h-20px" type="checkbox" value="1" defaultChecked="{true}"
              name="notifications" />
            <span class="form-check-label text-muted fs-7">الاشعارات</span>
          </label>
        </div>
      </div>
    </div>
  </div> -->
  <!--
  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer"> My Statements </a>
  </div> -->

  <div class="separator my-2"></div>

  <div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom">
    <a class="menu-link px-5 cursor-pointer">
      <span class="menu-title position-relative">
        {{"USER_MENU.LANGUAGE" | translate}}
        <span class="
            fs-8
            rounded
            bg-light
            px-3
            py-2
            position-absolute
            translate-middle-y
            top-50
            end-0
          ">
          {{ language.name }}{{ " " }}
          <img class="w-15px h-15px rounded-1 ms-2" [src]="language.flag" alt='{{"USER_MENU.LANGUAGE" | translate}}' />
        </span>
      </span>
    </a>

    <div class="menu-sub menu-sub-dropdown w-175px py-4">
      <div *ngFor="let l of langs" class="menu-item px-3 cursor-pointer" (click)="selectLanguage(l.lang)">
        <a class="menu-link d-flex px-5" [ngClass]="l.lang === language.lang ? 'active' : ''">
          <span class="symbol symbol-20px me-4">
            <img class="rounded-1" [src]="l.flag" alt="metronic" />
          </span>
          {{ l.name }}
        </a>
      </div>
    </div>
  </div>

  <div class="menu-item px-5 my-1" *ngIf="isSuper">
    <a routerLink="/settings/Subscription" class="menu-link px-5">
      {{"USER_MENU.SUBSCRIPTION" | translate}}
    </a>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer"> {{"USER_MENU.LOGOUT" | translate}} </a>
  </div>
</ng-container>
