<ng-container *ngIf="Codes$ | async as codes">
  <div class="d-flex justify-content-end mb-3">
    <button
      class="btn btn-primary btn-sm"
      (click)="AddReceipt()"
      *ngIf="codes?.PagePermissions?.POBillAdd"
    >
      <span>
        <span><i class="fa fa-plus"></i></span>
        <span>{{
          "PURCHASE_ORDER.MODALS.PURCHASEMENT_CARD.PRODUCT_RECEIVING_TAB.ADD_RECEIPT"
            | translate
        }}</span>
      </span>
    </button>
  </div>

  <div class="table-responsive mb-3">
    <table
      class="table table-rounded table-row-bordered border custom-table-style fs-6"
    >
      <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
          <th>#</th>

          <th>
            {{
              "PURCHASE_ORDER.MODALS.PURCHASEMENT_CARD.PRODUCT_RECEIVING_TAB.RECEIVED_DATE"
                | translate
            }}
          </th>
          <th>
            {{
              "PURCHASE_ORDER.MODALS.PURCHASEMENT_CARD.PRODUCT_RECEIVING_TAB.TOTAL_AMOUNT"
                | translate
            }}
          </th>
          <th>
            {{
              "PURCHASE_ORDER.MODALS.PURCHASEMENT_CARD.PRODUCT_RECEIVING_TAB.ELEMENT"
                | translate
            }}
          </th>
          <th>
            {{
              "PURCHASE_ORDER.MODALS.PURCHASEMENT_CARD.PRODUCT_RECEIVING_TAB.STORE_NAME"
                | translate
            }}
          </th>
          <th>{{ "GENERAL.PROCEDUERS" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of bill$ | async; index as i">
          <!-- {{item | json}} -->
          <td>{{ i + 1 }}</td>
          <!-- <td> -->
          <!-- <span class="margin-end-1">فاتورة</span> -->
          <!-- <span class="serial-number-style">#326</span> -->
          <!-- </td> -->
          <td>{{ item.BillDate }}</td>

          <td>{{ item.TotalPrice }} {{ " " + cur }}</td>
          <td>
            <table
              class="table border-0 fs-5 text-center"
              style="width: auto; vertical-align: middle"
            >
              <tbody>
                <tr
                  class="border-0"
                  *ngFor="
                    let item of item.PurchaseOrders[0].PurchaseOrdersBillsItems
                  "
                >
                  <td>
                    <input
                      [disabled]="true"
                      type="text"
                      class="form-control w-70px"
                      [(ngModel)]="item.ReceivedQuantity"
                    />
                  </td>
                  <td>
                    {{ "PURCHASE_ORDER.MODALS.ADD_RECEIPT.FROM" | translate }}
                  </td>
                  <td>
                    <span
                      class="form-control form-control-solid border-secondary"
                    >
                      <span class="margin-end-1">
                        {{ item.Quantity }}
                      </span>
                      <i
                        class="fas fa-external-link-alt"
                        tooltipPosition="top"
                        pTooltip="{{ 'GENERAL.EXTERNAL_SERVICE' | translate }}"
                      ></i>
                    </span>
                  </td>
                  <td>
                    <label
                      class="form-control form-control-solid border-secondary"
                    >
                      {{ item.ItemName }}
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>{{ item?.PurchaseOrders?.[0].PurchaseOrdersBillsItems?.[0]?.StoreName }}</td>
          <!-- <td *ngFor="let i of item.PurchaseOrdersBillsItems">
          <span class="d-block">4 قطعة مذربورد</span>
          <span class="d-block">1 قطعة ذاكرة</span>
          <span class="d-block">6 قطعة شاشة</span>
        </td> -->
          <td>
            <!-- <i
            (click)="AddReceipt(item)"
            class="fas fa-edit action-icon edit-icon"
            tooltipPosition="top"
            pTooltip="{{ 'ACCIDENTS_REPORTS.TABLE.EDIT' | translate }}"
          ></i> -->

            <i
              *ngIf="codes?.PagePermissions?.POBillDelete"
              (click)="deleteOrderBill(item.ID)"
              class="fa fa-trash action-icon delete-icon"
              tooltipPosition="top"
              pTooltip="{{ 'GENERAL.DELETE' | translate }}"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
