// ::ng-deep .p-tooltip  {
//   width: 300px !important;
// }


.badeg-Normal{
  border-radius: 30px!important;
  color: '#fff'!important;
  background-color: 'rgb(43, 199, 4)'!important;
  padding: '5px 10px'!important;
}


.badeg-height{
  border-radius: 30px!important;
  color: '#fff'!important;
  background-color: '#ff0000'!important;
  padding: '5px 10px'!important;
}


.badeg-NotSelected{
  border-radius: 30px!important;
  color: '#fff';
  background-color: '#323232';
  padding: '5px 10px';
}

.badeg-Medium{
  border-radius: 30px!important;
  color: '#fff';
  background-color: 'fff717';
  padding: '5px 10px';
}

.date-time{
  background: #cbdef1;
}
