<div class="d-flex justify-content-end">
  <!-- <button
    class="btn btn-primary mb-3"
    [disabled]="dataEdit.TaskStatusId == 3 ? true : false"
  >
    {{
      "PREVENTIVE_TASKS_MANAGEMENT.MODALS.TASK_MODAL.MOVEMENTS_LEVEL_TAB.ADD"
        | translate
    }}
  </button> -->
</div>
<div
  class="card-informations rounded"
  style="background-color: #fafafb; padding: 1rem"
>
  <div class="row">
    <div
      class="col-12 col-md-3"
      *ngFor="let item of dataEdit?.TaskStatuesStatistics"
    >
      <div class="task-info border rounded bg-white p-3 mb-3">
        <span>
          <span> {{ item.StatusName }}:</span>
          <span> {{ item.COUNT }} </span>
        </span>
      </div>
    </div>
  </div>
</div>

<app-logs-by-component-type
  [logType]="'workOrders'"
></app-logs-by-component-type>
