<div class="modal-header position-relative">
  <h5 class="modal-title">
    <i class="far fa-plus-square margin-end-1"></i>
    {{ "LOCATIONS_MANAGEMENT.ADD_FIELD_MODAL.MODALTITLE" | translate }}
  </h5>

  <!--begin::Close-->
  <div class="close">
    <i class="fas fa-times close-modal-icon" (click)="Close()"></i>
  </div>
  <!--end::Close-->
</div>

<div class="modal-body" style="max-height: 400px; overflow-y: auto">
  <div class="row align-items-center mb-5">
    <div class="col-12">
      <div class="position-relative">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
              transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="black"></path>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <input type="text" class="form-control ps-10" name="search" value=""
          placeholder="{{ 'USERS.FLTERMODAL.SEARCH' | translate }}" style="padding-inline-start: 30px"
          [formControl]="searchField" />
      </div>
    </div>

    <!-- <div class="col-12 col-md-6" style="text-align: end;">
      <button type="button" class="btn btn-primary"> إضافة حقل جديد </button>
    </div> -->
  </div>

  <div class="row">
    <div class="col-12" *ngIf="DataFeild$ | async as data">
      <!--
      <label class="form-check form-check-custom form-check-solid me-10 mb-5">
        <input class="form-check-input h-20px w-20px" type="checkbox" name="selectAll">
        <span class="form-check-label fw-bold">تحديد الكل</span>
      </label> -->
      <table class="table table-rounded table-row-bordered border custom-table-style vertical-align-middle fs-6">
        <thead class="fw-bolder">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ "LOCATIONS_MANAGEMENT.ADD_FIELD_MODAL.TYPE" | translate }}</th>
            <th scope="col">{{ "LOCATIONS_MANAGEMENT.ADD_FIELD_MODAL.FIELD_NAME" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | filter: searchField.value; index as i">
            <td>
              <input class="form-check-input h-20px w-20px" type="checkbox" [checked]="item.checked"
                [disabled]="item.checked" (change)="
                  checkField($event, item); item.showField = !item.showField
                " />
            </td>
            <td>
              <icon-field [TypeField]="item.FieldTypeId"></icon-field>
            </td>

            <td>
              <span class="form-check-label fw-bold">{{ item.Name }} </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- start footer -->
<div class="modal-footer position-relative">
  <button type="button" class="btn btn-primary" (click)="onSave()">
    <i class="fa fa-save"></i>
    <span>{{ "GENERAL.SAVE" | translate}}</span>
  </button>
  <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-light" (click)="Close()">
    <i class="fa fa-times"></i>
    <span>{{ "GENERAL.CANCEL" | translate}}</span>
  </button>
  <i class="fas fa-cogs modal-bg-icon"></i>
</div>
<!-- end footer -->
