<div class="modal-header position-relative">
  <h5 class="modal-title">
    <i class="fas fa-trash-alt mx-1"></i>
    {{"ASSETS.DELETESELECTEDMODAL.MODALTITLE" | translate}}
  </h5>
  <!-- (click)="Close()" -->
  <!--begin::Close-->
  <div class="close">
    <i class="fas fa-times close-modal-icon" (click)="Close()"></i>
  </div>
  <!--end::Close-->
</div>

<div class="modal-body" style="max-height: 400px; overflow-y: auto">
  <div class="table-responsive">
    <table class="table table-rounded table-row-bordered border custom-table-style fs-6">
      <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
          <th>#</th>
          <th>{{"ASSETS.DELETESELECTEDMODAL.ASSETNAME" | translate}}</th>
          <th>{{"ASSETS.DELETESELECTEDMODAL.ASSETTYPE" | translate}}</th>
          <th>{{"ASSETS.DELETESELECTEDMODAL.PROCEDURES" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSelected; index as i">
          <td>{{ i +1 }}</td>
          <td>{{ item.AssetName }}</td>
          <td>{{ item.CategoryName }}</td>
          <td>
            <i (click)="UnSelectedItem(item, i)" class="fas fa-trash-alt action-icon delete-icon" ptooltip="حذف"
              tooltipposition="top"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer position-relative">
  <button class="btn btn-sm btn-danger" (click)="deleteSelectd()">
    <i class="fas fa-trash-alt"></i>
    {{"ASSETS.DELETESELECTEDMODAL.DELETEALL" | translate}}
  </button>

  <button class="btn btn-sm btn-secondary" (click)="Close()">
    <i class="fas fa-times"></i>
    {{"ASSETS.DELETESELECTEDMODAL.CANCEL" | translate}}
  </button>

  <i class="fas fa-cogs modal-bg-icon"></i>
</div>
