<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Content-->
  <div class="d-flex flex-column flex-column-fluid text-center">
    <!--begin::Logo-->
    <!-- <a href="javascript:;" class="mb-10 pt-lg-10"> -->
      <!-- هنا اللوجو -->
      <!-- <img alt="Logo" src="" class="h-40px mb-5"> -->
    <!-- </a> -->
    <!--end::Logo-->
    <!--begin::Wrapper-->
    <div class="pt-lg-">
      <!--begin::Logo-->
      <h1 class="fw-bolder fs-2qx text-gray-800 mb-7"> {{ "UNDER_CONSTRUCTION.UNDER_CONSTRUCTION" | translate}} </h1>
      <!--end::Logo-->
      <!--begin::Message-->
      <div class="fw-bold fs-3 text-muted mb-0">
         {{ "UNDER_CONSTRUCTION.CLARIFICATION" | translate}}
      </div>
      <!--end::Message-->

    </div>
    <!--end::Wrapper-->
    <!--begin::Illustration-->
    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(./assets/media/illustrations/dozzy-1/13.png)"></div>
    <!--end::Illustration-->
  </div>
  <!--end::Content-->

  <!--end::Footer-->
</div>
