.hoverNoti:hover {
  background-color: #e6f4fc !important;
  // border: 2px solid #d0ecfd !important;
  // box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.font-size-14{
  font-size: 14px !important;
}

.font-size-16{
  font-size: 14px !important;
}
