<div class="modal-header position-relative">
  <h5 class="modal-title">
    <i class="fa fa-plus mx-1"></i>
    {{ "STORES.MODALS.ADD_INITIAL_STORE.MODAL_TITLE" | translate }}
  </h5>
  <!--begin::Close-->
  <div class="close">
    <i class="fas fa-times close-modal-icon" (click)="Close()"></i>
  </div>
  <!--end::-->
</div>

<!-- begin dialog body -->
<div class="modal-body" style="max-height: 80vh">
  <form [formGroup]="InitialStockForm">
    <div class="row" *ngIf="itemEdit$ | async">
      <!-- المخزن -->
      <div class="col-12 col-md-4 mb-3">
        <label class="mb-2 required">
          {{ "STORES.MODALS.ADD_INITIAL_STORE.STORE" | translate }}
        </label>
        <p-dropdown
          class="custom-dropdown"
          [style]="{ minWidth: '130px', display: 'flex' }"
          optionLabel="StoreName"
          optionValue="ID"
          [options]="Stores$ | async"
          formControlName="storeId"
          [placeholder]="'GENERAL.SELECT' | translate"
        >
        </p-dropdown>
      </div>

      <!-- الكمية -->
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="form-group">
          <label class="mb-2 required">
            {{ "STORES.MODALS.ADD_INITIAL_STORE.QUANTITY" | translate }}
          </label>
          <input
            type="number"
            [min]="0"
            formControlName="quantity"
            class="form-control"
          />
        </div>
      </div>

      <!-- السعر -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group">
          <label class="mb-2 required">
            {{ "STORES.MODALS.ADD_INITIAL_STORE.PRICE" | translate }}
          </label>
          <input
            type="number"
            [min]="0"
            formControlName="price"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer position-relative">
  <button
    type="button"
    class="btn btn-primary"
    (click)="create()"
    data-bs-dismiss="modal"
  >
    <span>
      <span> <i class="fa fa-save"></i> </span>
      <span> {{ "GENERAL.SAVE" | translate }} </span>
    </span>
  </button>

  <button
    type="button"
    class="btn btn-sm btn-light"
    data-bs-dismiss="modal"
    (click)="Close()"
  >
    <span>
      <span> <i class="fa fa-times" (click)="Close()"></i> </span>
      <span> {{ "GENERAL.CANCEL" | translate }} </span>
    </span>
  </button>

  <i class="fas fa-cogs modal-bg-icon"></i>
</div>
