<div class="modal-header position-relative">
  <h5 class="modal-title">
    <i class="fas fa-question-circle mx-1"></i>
    {{
      "PREVENTIVE_TASKS_MANAGEMENT.ACTIONS_ON_SELECTED.PRINT_SELECTED"
        | translate
    }}
  </h5>
  <!--begin::Close-->
  <div class="close">
    <i class="fas fa-times close-modal-icon" (click)="onClose()"></i>
  </div>
  <!--end::-->
</div>

<!-- begin dialog body -->
<div class="modal-body" style="max-height: 400px; overflow-y: auto">


  <app-table-show-selected></app-table-show-selected>
</div>

<div class="modal-footer position-relative">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-dismiss="modal"
    (click)="printSelected()"
  >
    <span>

         <div
          *ngIf="loadingPrint"
          class="spinner-border text-dark"
          style="width: 10px; height: 10px"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      <span>
        {{
         "PREVENTIVE_TASKS_MANAGEMENT.ACTIONS_ON_SELECTED.PRINT_SELECTED"
            | translate
        }}
      </span>
    </span>
  </button>

  <button
    type="button"
    class="btn btn-light"
    data-bs-dismiss="modal"
    (click)="onClose()"
  >
    <span>
      <span> <i class="fa fa-times"></i> </span>
      <span>
        {{
          "PREVENTIVE_TASKS_MANAGEMENT.MODALS.TIME_CONSUMING_MODAL.CANCEL"
            | translate
        }}
      </span>
    </span>
  </button>

  <i class="fas fa-cogs modal-bg-icon"></i>
</div>
