<div class="text-center">
  <div class="text-center">
    <!-- <button class="btn btn-success btn-sm mx-2">
      <span>
        <i class="fa fa-download"></i>
        <span>
          {{ "ASSETS.ASSETCARDMODAL.QRTAB.DOWNLOADPHOTO" | translate }}
        </span>
      </span>
    </button> -->
    <!-- <button class="btn btn-secondary btn-sm mx-2" (click)="print()">
      <span>
        <i class="fas fa-print fa-lg"></i>
        <span>
          {{ "ASSETS.ASSETCARDMODAL.QRTAB.PRINTPHOTO" | translate }}
        </span>
      </span>
    </button> -->
  </div>
  <div class="mx-auto">
    <h4 class="text-center my-5">
      {{ "ASSETS.ASSETCARDMODAL.QRTAB.DETAILS" | translate }}
    </h4>
    <div id="qrcode">
      <div class="text-success">Asset Name : {{ itemEdit?.AssetName }}</div>
      <qrcode
        #qrcode
        [qrdata]="QrCodeAsset"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </div>

    <a href="javascript:;" (click)="newTab(QrCodeAsset)">
      {{ QrCodeAsset }}
    </a>
  </div>
</div>
