.services-header {
    border: 1px solid #e3dede;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 7px;
    display: flex;
    background-color: #f9f9f9;
  }
  
  .service {
    display: flex;
    border: 1px solid #e3dede;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
    margin-bottom: 7px;
    width: 100%;
  
    &:hover {
      background-color: #f9f9f9;
    }
  
    input.form-check-input {
      border: 1px solid #e3dede;
    }
  }
  