<div
  class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
>
  <!-- style="background-image: url('./assets/media/14335.png')" -->
  <!--begin::Content-->
  <!-- <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20"> -->
  <!-- <a routerLink="/" class="mb-12" class="logo-text-login"> -->
  <!-- {{"AUTH.LOGIN.HEADER" | translate}} -->
  <!-- <img alt="Logo" src="./assets/media/logos/logo-1.svg" class="h-45px" -->
  <!-- /> -->
  <!-- </a> -->

  <!--begin::Content body-->
  <div class="w-100 bg-white rounded pt-5 mx-auto">
    <router-outlet></router-outlet>
  </div>
  <!--end::Content body-->
  <!-- </div> -->
  <!--end::Content-->

  <!-- begin::Footer -->
  <div class="d-flex flex-center flex-column-auto p-5 d-none">
    <div class="d-flex align-items-center fw-bold fs-6">
      <!-- <a class="text-muted text-hover-primary px-2 cursor-pointer">من نحن</a
      ><a class="text-muted text-hover-primary px-2 cursor-pointer">اتصل بنا</a
      > -->
      <!-- <a class="text-muted text-hover-primary px-2 cursor-pointer"
        >Contact Us</a
      > -->
    </div>
  </div>
  <div class="d-flex flex-center flex-column-auto p-10 d-none">
    <div class="d-flex align-items-center fw-bold fs-6">
      <!-- <a class="text-muted text-hover-primary px-2 cursor-pointer">من نحن</a
      ><a class="text-muted text-hover-primary px-2 cursor-pointer">اتصل بنا</a
      > -->
      <!-- <a class="text-muted text-hover-primary px-2 cursor-pointer"
        >Contact Us</a
      > -->
    </div>
  </div>
  <!-- end::Footer -->
</div>
