<ng-template #form>
  <div class="card card-custom">
    <!-- begin::Header -->
    <div class="card-header card-header-stretch align-items-center">
      <div class="card-title m-0">
        <i class="fas fa-money-bill fa-lg"></i>
        <h4 class="fw-bolder mb-0 mx-2" *ngIf="CompanyForSub">
          {{
            ("SUBSCRIPTIONS.CAEDHEADER" | translate) + "(" + CompanyForSub + ")"
          }}
        </h4>
        <h4 class="fw-bolder mb-0 mx-2" *ngIf="!CompanyForSub">
          {{ "SUBSCRIPTIONS.CAEDHEADER" | translate }}
        </h4>
      </div>

      <div
        class="card-header-actions d-none d-md-flex"
        *ngIf="companyId() == '0'"
      >
        <div class="add-user">
          <button class="general-btn add-btn mx-2" (click)="AddNewSup()">
            <i class="fas fa-plus"></i>
            {{ "SUBSCRIPTIONS.ADDSUBSCRIPTION" | translate }}
          </button>
        </div>
        <div class="add-user">
          <button class="general-btn edit-btn" (click)="EditSubscription()">
            <i class="far fa-edit"></i>
            {{ "SUBSCRIPTIONS.EDITSUBSCRIPTION" | translate }}
          </button>
        </div>
      </div>

      <div class="col-menu d-block d-md-none">
        <i
          class="fa fa-bars fa-lg cursor-pointer"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-start"
        ></i>

        <!--begin::Menu-->
        <div
          class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4"
          data-kt-menu="true"
        >
          <!--begin::Menu item-->
          <div class="menu-item border-bottom border-top px-3">
            <a href="javascript:;" class="menu-link px-3" (click)="AddNewSup()">
              <i class="fas fa-plus"></i>
              <span class="mx-2">
                {{ "SUBSCRIPTIONS.ADDSUBSCRIPTION" | translate }}
              </span>
            </a>
          </div>
          <!--end::Menu item-->

          <!--begin::Menu item-->
          <div class="menu-item border-bottom border-top px-3">
            <a
              href="javascript:;"
              class="menu-link px-3"
              (click)="EditSubscription()"
            >
              <i class="far fa-edit"></i>
              <span class="mx-2">
                {{ "SUBSCRIPTIONS.EDITSUBSCRIPTION" | translate }}
              </span>
            </a>
          </div>
          <!--end::Menu item-->
        </div>
        <!--end::Menu-->
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-subscriotion-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.SUBSCRIPTIONTYPE" | translate }}
            </div>
            <div class="text-subscriotion-gray-800 camd-info pt-3">
              {{ SubscriptionByComIDLast?.SubscriptionTypeName }}
            </div>
          </div>
        </div>
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.SUBSCRIPTIONSTATUS" | translate }}
            </div>
            <div class="text-gray-800 card-subscriotion-info mt-3">
              {{ SubscriptionByComIDLast?.StatusName }}
            </div>
          </div>
        </div>
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.SUBSCRIPTIONEXPIREATION" | translate }}
            </div>
            <div class="text-gray-800 card-subscriotion-info mt-3">
              {{ SubscriptionByComIDLast?.EndDate }}
            </div>
          </div>
        </div>
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.USERSNUMBER" | translate }}
            </div>
            <div class="text-gray-800 card-subscriotion-info mt-3">
              {{ SubscriptionByComIDLast?.NumberOfLicenses }}
            </div>
          </div>
        </div>
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.ASSETSNUMBER" | translate }}
            </div>
            <div class="text-gray-800 card-subscriotion-info mt-3">
              {{ SubscriptionByComIDLast?.NumberOfAssets }}
            </div>
          </div>
        </div>
        <div
          class="col-md-2 d-flex justify-content-center justify-content-md-between mb-3 mb-md-0"
        >
          <div
            class="border-gray-300 cradSubscription rounded min-w-100px min-w-lg-125px p-2 p-lg-5"
          >
            <div class="text-gray-700 card-subscriotion-title">
              {{ "SUBSCRIPTIONS.LOCATIONSNUMBER" | translate }}
            </div>
            <div class="text-gray-800 card-subscriotion-info mt-3">
              {{ SubscriptionByComIDLast?.NumberOfLocations }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card card-custom mt-5">
    <div class="card-header card-header-stretch align-items-center">
      <div class="card-title m-0">
        <i class="fas fa-money-check-alt fa-lg"></i>
        <h4 class="fw-bolder mb-0 mx-2">
          {{ "SUBSCRIPTIONS.PAYMENTS" | translate }}
        </h4>
      </div>
      <div class="card-header-actions">
        <div class="add-user">
          <button class="general-btn add-btn">
            <i class="fas fa-plus"></i>
            {{ "SUBSCRIPTIONS.ADDACCOUNT" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-rounded table-row-bordered border custom-table-style fs-6"
        >
          <thead class="fw-bolder">
            <tr class="borderRowBottom">
              <th>{{ "SUBSCRIPTIONS.ACCOUNTNAME" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.DATEOFPAYMENT" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.PAYMENTVALUE" | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ "SUBSCRIPTIONS.TEMP_NAME" | translate }}</td>
              <td>3/3/2020</td>
              <td>44</td>
            </tr>
            <tr>
              <td>{{ "SUBSCRIPTIONS.TEMP_NAME" | translate }}</td>
              <td>3/3/2020</td>
              <td>44</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="card card-custom mt-5">
    <!-- begin::Header -->
    <div class="card-header card-header-stretch align-items-center">
      <div class="card-title m-0">
        <i class="fas fa-file-archive fa-lg"></i>
        <h4 class="fw-bolder mb-0 mx-2">
          {{ "SUBSCRIPTIONS.SUBSCRIPTIONARCHIVE" | translate }}
        </h4>
      </div>
    </div>

    <div class="card-body">
      <!--begin::Table-->
      <div class="table-responsive">
        <table
          class="table table-rounded table-row-bordered border custom-table-style fs-6"
        >
          <thead class="fw-bolder">
            <tr class="borderRowBottom">
              <th>#</th>
              <th>{{ "SUBSCRIPTIONS.STARTINGDATE" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.EXPIREDATE" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.SUBSCRIPTIONTYPE" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.USERSNUMBER" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.ASSETSNUMBER" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.LOCATIONSNUMBER" | translate }}</th>
              <th>{{ "SUBSCRIPTIONS.COST" | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of SubscriptionByComID; let i = index">
              <td>
                {{ i + 1 }}
              </td>
              <td>{{ item.StartDate | date: "dd/MM/yyyy" }}</td>
              <td>{{ item.EndDate | date: "dd/MM/yyyy" }}</td>
              <td>
                <span class="badge badge-primary mx-1"
                  >{{ item.SubscriptionTypeName }}
                </span>
              </td>
              <td>{{ item.NumberOfLicenses }}</td>
              <td>{{ item.NumberOfAssets }}</td>
              <td>{{ item.NumberOfLocations }}</td>
              <td>{{ item.TotalCost }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="loading; else form">
  <div class="spinner-overlay">
    <mat-spinner></mat-spinner>
  </div>
</div>
<p-dialog
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [header]="SubscriptionByComIDLastEdit? ('SUBSCRIPTIONS.EDIT_SUBSCRIPTION' | translate):('SUBSCRIPTIONS.ADD_SUBSCRIPTION' | translate) "
  [(visible)]="displayEditSubscription"
  [style]="{ width: '60vw' }"EDIT_SUBSCRIPTION
>
  <CreateOrEditSub
    [Codes]="Codes"
    (Cancel)="displayEditSubscription = false"
    [SubscriptionByID]="SubscriptionByComIDLastEdit"
    [idCom]="CompanyId"
    (afterEditSub)="afterEditSub()"
  ></CreateOrEditSub>
</p-dialog>
