<div class="row" *ngIf="Codes$ | async as code">
  <div class="col-12 col-md-3">
    <div (click)="AddImage()" class="image-input image-input-outline image-input-empty" data-kt-image-input="true">
      <div class="image-input-wrapper"
        style="width: 140px; height: 148px; background-size: contain;background-position: center;"
        [style.cursor]="'pointer'" [style.background-image]="
          data.Logo
            ? 'url(' + Avatar + data.Logo + ')'
            : 'url(assets/icons/add-image.svg)'">
      </div>
      <label data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
        data-bs-original-title="Change avatar">
        <i class="bi bi-pencil-fill fs-7"></i>
      </label>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <label class="mb-2">
            {{
            "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.PORTADDRESS"
            | translate
            }}
          </label>
          <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.GateTitle"
            (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
            class="form-control" />
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <div class="form-group">
              <label class="mb-2">
                {{
                "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.PORTLANGUAGE"
                | translate
                }}
              </label>
              <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
                [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="code" [filter]="true"
                filterBy="Name" [options]="code?.LanguageCode" [(ngModel)]="this.data.LanguageCode"
                (onChange)="EditWorkRequest.emit()">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <label class="mb-2 lableInputModle">
            {{
            "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.MAINTINANCETEQUESTTITLE"
            | translate
            }}
          </label>
          <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
            [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
            filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.WRTitleOptionId"
            (onChange)="EditWorkRequest.emit()">
          </p-dropdown>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.WRTitleText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <label class="mb-2">
            {{
            "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.MAINTINANCETEQUESDESCRIPTION"
            | translate
            }}
          </label>
          <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
            [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
            filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.WRDescriptionOptionId"
            (onChange)="EditWorkRequest.emit()">
          </p-dropdown>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.WRDescriptionText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
                "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.ASSETNAME"
                  | translate
              }}
            </label>
            <p-dropdown
              appendTo="body"
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }"
              optionLabel="Name"
              optionValue="Code"
              [filter]="true"
              filterBy="Name"
              [options]="code.OptionId"
              [(ngModel)]="this.data.AssetOptionId"
              (onChange)="EditWorkRequest.emit()"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [(ngModel)]="data.AssetText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false"
              (change)="isChange = true"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label>
              {{
                "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.REQUESTIMPORTANCE"
                  | translate
              }}
            </label>
            <p-dropdown
              appendTo="body"
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }"
              optionLabel="Name"
              optionValue="Code"
              [filter]="true"
              filterBy="Name"
              [options]="code.OptionId"
              [(ngModel)]="this.data.TaskPriorityOptionId"
              (onChange)="EditWorkRequest.emit()"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <div class="form-group">
              <input
                [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
                [(ngModel)]="data.TaskPriorityText"
                (blur)="
                  isChange ? EditWorkRequest.emit() : ''; isChange = false
                "
                (change)="isChange = true"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div> -->
      <!--
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
                "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.ATTACHEDPHOTO"
                  | translate
              }}
            </label>
            <p-dropdown  appendTo="body"
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }"
              optionLabel="Name"
              optionValue="Code"
              [filter]="true"
              filterBy="Name"
              [options]="code.OptionId"
              [(ngModel)]="this.data.ImagesOptionId"
              (onChange)="EditWorkRequest.emit()"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [(ngModel)]="data.ImagesText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false"
              (change)="isChange = true"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
              "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.APPLICANTNAME"
              | translate
              }}
            </label>
            <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
              filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.RequesterNameOptionId"
              (onChange)="EditWorkRequest.emit()">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.RequesterNameText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
              "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.APPLICANTMOBILE"
              | translate
              }}
            </label>
            <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
              filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.RequesterPhoneOptionId"
              (onChange)="EditWorkRequest.emit()">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.RequesterPhoneText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
              "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.APPLICANTEMAIL"
              | translate
              }}
            </label>
            <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
              filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.RequesterEmailOptionId"
              (onChange)="EditWorkRequest.emit()">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.RequesterEmailText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
                "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.SOLVEDDATE"
                  | translate
              }}
            </label>
            <p-dropdown
              appendTo="body"
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }"
              optionLabel="Name"
              optionValue="Code"
              [filter]="true"
              filterBy="Name"
              [options]="code.OptionId"
              [(ngModel)]="this.data.DueDateOptionId"
              (onChange)="EditWorkRequest.emit()"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input
              [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [(ngModel)]="data.DueDateText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false"
              (change)="isChange = true"
              type="text"
              class="form-control"
              placeholder="dd-mm-yyy"
            />
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2">
              {{
              "MAINTENANCEREQUESTS.EDITMAINTINANCREQUESTMODAL.PORTDESIGNTAB.REQUESTTAG"
              | translate
              }}
            </label>
            <p-dropdown appendTo="body" [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit"
              [style]="{ minWidth: '130px', display: 'flex' }" optionLabel="Name" optionValue="Code" [filter]="true"
              filterBy="Name" [options]="code.OptionId" [(ngModel)]="this.data.TagsOptionId"
              (onChange)="EditWorkRequest.emit()">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="form-group">
            <label class="mb-2 invisible"> test </label>
            <input [disabled]="!code?.PagePermissions?.WorkRequestGatesEdit" [(ngModel)]="data.TagsText"
              (blur)="isChange ? EditWorkRequest.emit() : ''; isChange = false" (change)="isChange = true" type="text"
              class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</div>