<div class="section">
  <div class="form-check form-switch my-3 mx-4">
    <input class="form-check-input  bigger-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="sortMode">
    <label class="form-check-label text-white mx-1 " for="flexSwitchCheckDefault" translate="SIDEBAR.sort_mode"></label>
  </div>
  <ng-container *ngIf="!sortMode"
                 [ngTemplateOutlet]="generalModeTmpl"></ng-container>
  <ng-container *ngIf="sortMode"
                [ngTemplateOutlet]="sortModeTmpl"></ng-container>

  <ng-template #generalModeTmpl>
    <div class="mb-5">
      <div *ngFor="let item of sideMenu">
        <div class="menu-item" *ngIf="item.display" cdkDragHandle>
          <a class="menu-link without-sub" [routerLink]="'/'+ item.route" routerLinkActive="active">
            <span class="menu-icon mx-4">
              <i class="{{ item.icon }} fa-lg text-white bigger-icon"></i>
            </span>
            <span class="menu-title" [translate]="item.title"></span>
          </a>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #sortModeTmpl>
    <div class="mb-5">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="sortMode">
        <div class="example-box menu-item" *ngFor="let item of sideMenu" cdkDrag>
          <div class="example-custom-placeholder menu-link" *cdkDragPlaceholder></div>
          <a class="menu-link without-sub" routerLinkActive="active">
            <span class="menu-icon mx-4">
              <span [inlineSVG]="'./assets/icons/up-down-left-right-solid.svg'" class="svg-icon svg-icon-2 ml-3"></span>
            </span>
            <span class="menu-title" [translate]="item.title"></span>
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</div>
