<div class="modal-header position-relative">
  <h5 class="modal-title">
    <i class="fas fa-filter margin-end-1"></i>
    الفلترة
  </h5>

  <!--begin::Close-->
  <div class="close">
    <i class="fas fa-times close-modal-icon"></i>
  </div>
  <!--end::Close-->
</div>
<form>
  <!-- begin dialog body -->

  <div class="modal-body">

    <div class="container">
      <div class="row mb-3">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-label">اسم المستخدم</label>
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-label">المصدر</label>
            <p-dropdown  appendTo="body" [style]="{minWidth: '130px', display: 'flex'}" [filter]="true">
            </p-dropdown>
          </div>
        </div>

      </div>

      <div class="row">

        <!-- <div class="col-12 col-md-6">
          <label class="form-label">تاريخ الإنتهاء من</label>
          <div class="form-group">
            <input class="form-control form-control-sm" placeholder="dd-mm-yy" dateFormat="dd-mm-yy"
              type="datetime" bsDatepicker>
          </div>
        </div> -->

        <div class="col-12 col-md-6">
          <label class="required mb-2 lableInputModle"> تاريخ الإنتهاء من </label>

          <div class="form-group custom-datepicker">
            <input formControlName="dateFrom" class="form-control " [matDatepicker]="dateFrom" type="datetime"
              placeholder="dd-mm-yy">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
          </div>
        </div>


        <!-- <div class="col-12 col-md-6">
          <label class="form-label">تاريخ الإنتهاء إلى</label>
          <div class="form-group">
            <input class="form-control form-control-sm" placeholder="dd-mm-yy" dateFormat="dd-mm-yy" type="datetime"
              bsDatepicker>
          </div>
        </div> -->

        <div class="col-12 col-md-6">
          <label class="required mb-2 lableInputModle"> تاريخ الإنتهاء إلى </label>

          <div class="form-group custom-datepicker">
            <input formControlName="dateTo" class="form-control " [matDatepicker]="datTo" type="datetime"
              placeholder="dd-mm-yy">
            <mat-datepicker-toggle matSuffix [for]="datTo"></mat-datepicker-toggle>
            <mat-datepicker #datTo></mat-datepicker>
          </div>
        </div>

      </div>
    </div>


  </div>
  <!-- begin dialog body -->

</form>


<!-- start footer -->
<div class="modal-footer position-relative">
  <button type="button" class="btn btn-primary">
    <i class="fa fa-save"></i>
    <span>حفظ</span>
  </button>

  <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-light">
    <i class="fa fa-times"></i>
    <span>إلغاء</span>
  </button>
  <i class="fas fa-cogs modal-bg-icon"></i>
</div>
<!-- end footer -->
