<div class="modal-contents">
  <form [formGroup]="FormFilter">

    <!-- begin dialog body -->
    <div class="modal-body">

      <div class="row">

        <div class="col-12 col-md-12">
          <div class="form-group">
            <label class="form-label">{{ "userLog.ItemName" | translate }}</label>
            <input type="text" class="form-control" formControlName='Name' />
          </div>
        </div>

        <!-- <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-label"> {{"USERS.FLTERMODAL.LOCATION" | translate}} </label>
            <p-dropdown appendTo="body" [placeholder]="'GENERAL.SELECT' | translate"
              [style]="{minWidth: '130px', display: 'flex'}" [filter]="true" formControlName='LocationId'
              optionLabel="Name"></p-dropdown>
          </div>
        </div> -->

      </div>

    </div>
    <!-- end dialog body -->

    <!-- begin dialog footer -->
    <div class="dialog-footer">
      <div class="footer-actions">

        <button class="btn  btn-primary" (click)="onSearch()">
          <i class="fas fa-search"></i>
          {{"USERS.FLTERMODAL.SEARCH" | translate}}
        </button>

        <button class="btn  btn-secondary mx-2" (click)="onCancel()">
          <i class="fas fa-times"></i>
          {{"USERS.FLTERMODAL.CANCEL" | translate}}
        </button>

      </div>
    </div>
    <!-- end dialog footer -->

  </form>
</div>